---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="py-12 glassmorphism">
  <div class="container mx-auto px-6">
    <div class="text-center space-y-6">
      
      <div class="h-px w-32 bg-gradient-to-r from-transparent via-black dark:via-white to-transparent mx-auto"></div>
      
      <p class="text-slate-300 font-medium">
        {t('footer.rights')}
      </p>
      
    </div>
  </div>
</footer>
